{% extends 'base.html.twig' %}

{% block title %}A propos {% endblock %}

{% block body %}

<section class="about">
    <h1>Ness Primeur</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>

<section class="faq">
    <h2>Des questions ?</h2>
        {% if faqs %}
            {% for faq in faqs %}
            <div class="faq">
                <div class="question_faq"> {{ faq.question }}</div>
                <div class="answer_faq"> {{ faq.answer }} </div>
            </div>
            {% endfor %}
        {% endif %}
</section>

{% endblock %}
