{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section id="wrapper_home">
    <p>fil d'arianne :3</p>

    <div class="informationContact">
        <div class="logoContact">
            <img src="{{ asset('img/logonessprimeur.png') }}" alt="Logo Ness Primeur Magasin Fruit Legume de saison">
        </div>
        <div class="adresseContact">
            <p>Ness Primeur</p>
            <p>30 rue de Sarraltroff</p>
            <p>57400 HILBESHEIM</p>
            <p>03.88.00.00.00</p>
            <p>Magasin ouvert du lundi au dimanche :</p>
            <p>00h / 00h</p>
        </div>
        <div class="leaflet">
            <div id="map"></div>
        </div>
    </div>

</section>

{% endblock %}
