{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section id="wrapper_home">

<section id="NessPrimeur">
    <div class="firstView">
        <img src="{{ asset('img/backgroundNess.jpeg')}}" alt="fond avec des fruits">
    </div>
</section>

<section class="produit_saison">
    <p>Produit de saison</p>
</section>

<section class="fruit_legume">
    <p>Description fruit legume grid 2x2</p>
</section>

<section class="infos_sante">
    <p>healthy / bio / delivery / quality</p>
</section>

<section class="best_seller">
    <p>Produit best seller</p>
</section>

<section class="avis_client_homepage">
    <p>avis x3</p>
</section>

</section>

{% endblock %}
