:root {

    --first-color: #000000;
    --second-color: #824B36;
    --grey-color: #A6A6A6;
    --bg-card: #E8DDD3;
    --white-color: #ffff;
    --bg-section: rgba(232, 210, 191, 0.2);
    --bg-header: rgb(255, 255, 255, 0.4);
    --bg-brun-leger: #E8D3C0;
    
}