{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<section class="bandeau_annonce">
    <p>Bandeau annoce ici</p>
</section>

<section class="filtres">
    <p>Filtres</p>
</section>

<section class="bandeau_annonce">
    <p>Liste des produits</p>
</section>

{% endblock %}
