{% extends 'base.html.twig' %}

{% block title %}Admin - Liste Produit {% endblock %}

{% block body %}

{% if products %}
    {% for product in products %}

    <p> nom : {{ product.designation }}</p>
    <p> description : {{ product.description }}</p>
    <p> prix : {{ product.price }} €</p>
    <p> stock : {{ product.stock }}</p>
        
    {% endfor %}
{% else %}
 <p> pouf </p>
{% endif %}

{% endblock %}