{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% if infoUser %}
        <p> bienvenue sur votre profil ! </p>

        <h2>Adresse</h2>
        {{ form_start(formProfil) }}
            {{ form_widget(formProfil) }}
            <button class="btn">Save Address</button>
        {{ form_end(formProfil) }}
    {% endif %}
{% endblock %}
